.containerStadistics {
    width: 850px;
    height: 100%;

}

.containerCard{
    width: 100%;
    /* height: 150px; */
    display: grid;
    grid-template-columns:  repeat(3, 2fr) ;
    grid-template-rows:  repeat(2,200px);
    margin: 5px;
    gap: 1em;
}


.card {
    
    align-items: center;
    background-color: white;
    backdrop-filter: blur(8px);
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    padding-left: 15px;    
}

.card_cover {
    height: 20px;
    width: 100%;
    /* border-bottom: solid 1px black; */
}

.card_content {
    flex: 1;
}