.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    align-items: center;
    justify-content: center;
    /* background-color: #EBEBEB; */
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    border: medium #080708
}

.tablero {
    align-items: center;
    margin-top: 20px;
}


table td {
    background-color: #F1F1F9;
    border: 3px solid #ccc;
    width: 130px;
    height: 130px;
}

.turn {
    display: flex;
    margin-top: 25px;
    padding: 0;
    width: 300px;
    height: 200px;
    backdrop-filter: blur(8px);
}

button {
    
    margin-left: auto;
    
}

.selectContainer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 50px;
    margin: 10px;
}

.deleteButton{
    height: 19px;
}

.containWinner{
    width: 200px;
    height: 100%;
    margin-top: 15px;
}

.containData{
    width: 200px;
    height: 100%;
    margin-top: 15px;
}

.inputLabel {
    color: white;
}

.preGame {
    color: white;
    text-align: center;
}


.startButton {
    margin-top: 15px;
    margin-right: 15px;
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #F2F4F3;
    z-index: 1;
    background: #0A0908;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;


}

.startButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #F2F4F3;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.startButton:hover {
    color: #0A0908;
}

/* startButton:hover::before {
    width: 100%;
} */
.textData {
    text-shadow: 0 0 8px white;
    /* color: white; */
}
